.metadata/
*/bin/
*~
SA-Server/jni/SA-Projekt.pro.user
*.log
SA-Server/registrations.bin
SA-Server/c_registrations.bin
*.o
Makefile
SA-Server/jni/*.so*
.directory
.class
SA-Webapp/WAR/WEB-INF/classes
