<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SA-Client/src/de/hswt/bp4553/swa/projekt/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.hswt.bp4553.swa.projekt.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SA-Client"/>
</launchConfiguration>
